Repository juntossomosmais/time-out-market, pull requests merged in 2023-10, with the labels that each got.

#71 feat(linters): disable media-query-no-invalid
  packages/linters/src/stylelint.config.styled.js
Labels: packages/linters

#74 feat(linters): add rules to jsx to react lint
  packages/linters/src/eslint.config.react.js
Labels: enhancement, packages/linters

#76 feat(linters): add `jsx-boolean-value` in `eslint.config.react`
  packages/linters/src/eslint.config.react.js
Labels: enhancement
